.InfoTasks {
  margin-top: 50px;
}

.InfoTaskContainer {
  padding: 2em 0px;
  width: 736px;
  background: #262626;
  border-radius: 8px;
  padding: 5px;
  min-height: 52px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}

.tasksCounter {
  display: flex;
  justify-content: space-between;
}

.createdNum {
  color: gray;
}

.completedNum {
  color: green;


}
input[type="checkbox"] {
  width: 20px;                         /* Set width */
  height: 20px;                        /* Set height */
  clip-path: circle(50% at 50% 50%);   /* Set the clip path of circle*/
  opacity: 0.8;
  border: 1px solid;
  transition: all ease-in-out 300ms;
  background: #0d0d0d;
  border-color: #2f5f7c;
}

input[type="checkbox"]:hover {
  background-color: #10212a;
  border-color: #1d6b9a;
}

input[type="checkbox"]:checked {
  opacity: 0.8;
  transition: all ease-in-out 400ms;
  accent-color: #5658bb;
  background: #5658bb;
  border-color: #5658bb;
  border: 1px solid;
}

input[type="checkbox"]:checked:hover {
  background-color: #7678E2;
  accent-color: #7678E2;

  border-color: #7678E2;
  opacity: 1;
}

.checkInput:hover {
  background: #0c0e0e;

}

.taskDelete {
  width: 20px;
  border-radius: 4px;
  background: none;
  border: none;
}
.taskDelete:hover {

  background: #333333;
}


@media (max-width: 769px) {
  .InfoTaskContainer {
    width: 340px;
    
  }
}
