.InfoTasks {
  margin-top: 50px;
}

.InfoTaskContainer {
  padding: 2em 0px;
  width: 350px;
  background: #202626;
  border-radius: 10px;
  padding: 5px;
  min-height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}

.checkBox {
  margin-right: 40x;
  border-left: 1px solid white;
}

.checkInput {

}

.checkInput:hover {
  background: #0c0e0e;

}

.taskDelete {
  width: 20px;
  border-radius: 50%;
  background: rgb(75, 18, 18);
}
.taskDelete:hover {

  background: rgb(156, 16, 16);
}
