.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  /* display: grid; */
  display: flex;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}


.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 2em; */
  margin: 0 auto;

}

.docs {
  color: #888;
}


footer {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.9512137618719363) 20%, rgba(0, 0, 0, 0.12208210921087181) 89%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.9512137618719363) 20%, rgba(0, 0, 0, 0.12208210921087181) 89%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9512137618719363) 20%, rgba(0, 0, 0, 0.12208210921087181) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  text-align: center;
  padding: 20px;
  height: 20vh;

}

footer p {
  margin-top: 12vh;

}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}